* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* center body on page */
html {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

body {
	border: 1px solid red;
	grid-column: 2/3;
}
/* ******** */

ul {
	list-style-type: none;
}

a {
	color: #fff;
	text-decoration: none;
}

button {
}

header {
	display: flex;
	position: relative;
}

header > * {
	padding: 1rem;
}

.menu-item {
	color: #000;
}

#nav {
	width: 100%;
	height: 300px;
	background-color: turquoise;
	position: absolute;
	top: 100%;
	right: 100%;
	border: 1px solid;

	transform: translateX(100%);

	transition-property: transform;
	transition-duration: 0.5s;
}

#nav.is--hidden {
	transform: translateX(0);

	visibility: hidden;
	/* delay hidden till slide end */
	transition: transform 0.5s, visibility 0s 0.6s;
}

.nav-items {
	width: 100%;
	height: 280px;
	background-color: blueviolet;
}

.nav-item {
	padding: 1rem;
	color: #fff;
	border: 1px solid #000;
	background-color: transparent;
	width: 100%;
	text-align: left;
}
