* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* center body on page */
html {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

body {
	border: 1px solid red;
	grid-column: 2/3;
}
/* ******** */

ul {
	list-style-type: none;
}

a {
	color: #fff;
	text-decoration: none;
}

button {
}

header {
	display: flex;
	position: relative;
}

header > * {
	padding: 1rem;
}

.menu-item {
	color: #000;
}

#nav {
	width: 100%;
	height: 300px;
	background-color: turquoise;
	position: absolute;
	top: 100%;
	right: 100%;
	border: 1px solid;

	transform: translateX(100%);

	transition-property: transform;
	transition-duration: 0.5s;
}

#nav.is--hidden {
	transform: translateX(0);

	visibility: hidden;
	/* delay hidden till slide end */
	transition: transform 0.5s, visibility 0s 0.6s;
}

.nav-items {
	width: 100%;
	height: 280px;
	background-color: blueviolet;
}

/* hide nav when sub-nav opens to avoid tab/screenreaders */
.nav-items.is--hidden {
	visibility: hidden;
	transition: transform 0.5s, visibility 0s 0.6s;
}

.nav-item:not(.has--sub-nav),
.sub-nav-btn,
.sub-nav-item a {
	padding: 1rem;
	color: #fff;
	border: 1px solid #000;
	background-color: transparent;
	width: 100%;
	text-align: left;
}

.sub-nav-item a {
	display: inline-block;
}

.sub-nav-btn_open::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	content: "\f178";
}
.sub-nav-btn_close::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	content: "\f177";
}

.sub-nav-btn {
	display: flex;
	justify-content: space-between;
}

.sub-nav-items {
	width: 100%;
	height: 250px;
	background-color: tomato;

	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(0);

	/* overide visibility hidden from nav-items */
	visibility: visible;

	transition: transform 0.5s;
}

.sub-nav-items .sub-nav-items {
	background-color: slategray;
	height: 230px;
}

.sub-nav-items.is--hidden {
	transform: translateX(100%);

	visibility: hidden;
	/* waits for slide to end before hidding */
	transition: transform 0.5s, visibility 0s 0.6s;
}

#nav.is--hidden .sub-nav-items:not(.is--hidden) {
	visibility: hidden;
	transition: visibility 0s 0.6s;
}

.sub-nav-items.is--hidden.is--open {
	transform: translateX(0);

	visibility: hidden;
	transition: transform 0.5s, visibility 0s 0.6s;
}
